[Unit]
Description=pprotein service

[Service]
ExecStart=/home/isucon/pprotein
WorkingDirectory=/home/isucon
Restart=always
User=root

[Install]
WantedBy=multi-user.target
